@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Fonte */

:root{
  --bluew: #91D7F2;
  --cream: #F2F0EB;
  --white: #F2F2F2;
  --gray: #2F3240;
  --grayb: #1d1d1d;
  --black: #0D0D0D;
  --purple: #987cff;
  --purples: #643DF2;
  --red: #F20519;
  --yellow: #F2CB05;
  --green: #55D976;
  --greenb: #027313;
}
/* Paleta de cores */

*{
  margin: 0; /*Zerando*/
  padding: 0;/*zerando*/
  font-family: Poppins; /*fonte principal da página*/
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
/* Resetando a página */
body{
   background-color: #0D0D0D; /* Cor de fundo da página */
}


/* Definições na raiz do html */
html{
    width: 100%; /* Para ocupar 100% da largura */
    height: 100vh; /*  100vh para que a página tenha a mesma altura do navegador */
    overflow-x: hidden;
}


/* Whatsapp */
.whatsapp{
    position: relative;
    z-index: 9999999;
  }
  
  .whatsapp img{
    width: 115px;
    /* Altura e Largura */
    position: fixed;
    bottom: 20px;
    right: 25px;
    /* Posicionamento do logo do WhatsApp */
    transition: 00.50s ease;
    cursor: pointer;
  }
  
  .whatsapp img:hover {
    transform: scale(1.1);
  }
  


  /* Menu Mobile */

.mobile-menu-icon button{
    background-color: var(--grayb);
    border: none;
    padding: 9px;
    color: var(--white);
    border-radius: 8px;
  }
  
  .mobile-menu-icon i {
    font-size: 30px;
  }
  
  .mobile-menu-icon {
    display: none;
  }
  
  .mobile-menu {
    display: none;
  }
  
  /* Fim do Mobile Menu */


/* INÍCIO DA ESTILIZAÇÃO DO NOSSO CABEÇALHO */
header{
    padding: min(2vh, 4rem); /*  Tamanho do cabeçalho */
    background-color: #0D0D0D; /* Cor de fundo */
    display: flex; /* Tornando Flex */
    justify-content: space-between; /*  Justificando o conteúdo */
    align-items: center; /* Alinhando itens ao centro */
    text-align: center; /* Alinhando os textos ao centro */
    position: sticky; /* Fixando o cabeçalho ao rolar a página */
top: 0; /* Zerando a parte de cima */
left: 0; /* Zerando a esquerda (Que é por onde o elemento aparece) */
z-index: 999; /*  Dando prioridade */
width: 100%; /* Pra ocupar 100% do espaço */
overflow: hidden; /* */
box-shadow: 0px 2px 2px rgb(255, 255, 255);
font-size: 1.3rem; /*Tamanha das letras do header*/
}


/* Estilização da logo */
header img{
    width: 5rem; /* Tamanho da nossa imagem*/
    display: flex;   /* Tornando Flex os conteúdos */
    align-items: center; /* Alinhando item a centro */
    justify-content: center;  /*  Justificando o conteúdo */
}

header a{
    margin-right: 2vh; /*  Espaçento na esquerda */
    color: #F2F2F2  ;/*  Cor do texto */
    font-weight: 800;  /* Peso da fonte */
 

}

header a:hover{
    border-bottom: 2.5px solid#643DF2;  /* Criando uma borda sólida com cor */
    transition: 0.1s; /* Tempo de transição */
}





.open {
    display: flex;
  }


/* FIM DA ESTILIZAÇÃO DO NOSSO CABEÇALHO */


/*Aqui estamos estilizando nossa segunda(2) sessão */
/* Cor - tamanho - 100% de preenchimento da sessão */
  .section-1{
background-color: #643DF2; /*Cor de fundo*/
padding: 120px; /*Preenchimento da nossa sessão*/
width: 100%;
  }


/* Alinhando, tamanho e cor do título */
 .section-1 h1{
    font-size: 2rem; /*Tamanho do texto*/
    text-align: center; /*deixamos o texto ao centro*/
    color: #F2F0EB; /*Cor do texto*/
 }
 

 /* div pai para posicionar itens */
 .section-1 .div-button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
 }

/* Formatação do botão */
 .div-button button{
    height: 50px; /*Altura*/
    width: 18rem; /*Largura*/
    border-radius: 1.5rem; /*Arredondamento*/
    font-size: 20px; /*Tamanho do texto*/
    font-weight: 800; /*Peso da fonte*/
    color: white; /*Cor do texto*/
    background-color: black; /*Cor de fundo do botão*/
    padding: 10px; /*Prenchimento*/
    display: flex; /*Aqui estamos deixando os botões ao lado a lado */
    align-items: center;
    justify-content: center; /*Justificando os conteúdos*/
    align-items: center;
    margin-top: 25px;
    margin-bottom: 10px;
 }

 /* Hover para mudar algo ao passar o mouse */
 .div-button button:hover{
    background-color:  #F2F0EB;
    border-color: black;
    color: black;
    cursor: pointer;
    transition: 0.9s;
 }

 /* A estilização das parágrafos */
 .section-1 p{
    font-size: 1.5rem;
    color: white;
    margin-top: 20px;
   
 }
/* Fim da estilização da segunda sessão */


/* Início da estilização da sessão 3 */
/* Tamanho e cor pra sessão */
 .section-2{
    padding: 100px;
    background-color: #643DF2;
    text-align: center;
 }

.flex-box{
    display: flex; /*Deixamos os itens ao lado a lado*/
    justify-content: center; /*  Justificando o conteúdo */
    align-items: center; /*Estamos centralizando os conteúdos*/
    gap: 40px; /*Espaçamento entre elas*/
    flex-direction: column;
    color: white; /*Cor do fundo da caixa*/
} 
/* Uma div pai para posicionar os elementos */

.box-form{
    display:flex; /*Deixamos os items ao lado a lado*/
    justify-content: center; /*  Justificando o conteúdo */
    align-items: center; /*Alinhamos os itens no centro*/
    gap: 5rem; /*Espaçamento entre os conteúdos*/
}
/* Uma div pai para posicionar os elementos */




.container { /* Aqui estamos chamando nossa Class */
    max-width: 1280px; /* Atribuímos aqui um tamanho máximo de largura que essa Class irá exercer */
    margin: 0 auto; /*  dizemos ao navegador que as margens superior e inferior são iguais a 0 e as da esquerda e direita são automáticas */
    display: flex; /*Tornando os itens flex*/
    justify-content: center; /* Justificando o conteúdo */
    align-items: center; /*Estamos centralizando os itens*/
}


form{ /* Aqui chamamos nosso Form para Estilização */
    background-color: white; /* Colocamos uma cor de fundo */
    max-width: 500px; /* Atribuímos aqui um tamanho máximo de largura que esse formulário irá exercer */
    height: 520px; /* Lagura do formulário */
    padding: 40px; /* Preenchimento */
    border-radius: 20px; /* Arredondamento das bordas do Formulário */
}


form h1{ /* Chamamos nosso Texto para estilização */
    text-align: center; /* Alinhamos ao centro */
    font-size: 30px; /* Tamanho da letra */
    color: black; /* Cor das letras */
}


form p{ /* Chamamos nosso Paragrafo para estilização */
    text-align: center; /* Alinhando para o centro nosso Parágrafo */
    margin: 20px 0; /* dizemos ao navegador que as margens superior e inferior são iguais a 20 e as da esquerda e direita são 0 */
}


.input-single{ /* Chamamos nossa Class que está encabeçada nas Div´s dos nossos Input e Label. */
    position: relative; /* Posição relativa  */
    margin: 20px 0; /* dizemos ao navegador que as margens superior e inferior são iguais a 20 e as da esquerda e direita são 0 */
}


.input-single > label { /* Chamamos nossa Label para estilização */
    position: absolute; /* Atribuimos uma posição absoluta em relação a o formulário */
    left: 0; /* Zeramos a margin esquerda */
    bottom: 5px; /* Margem inferior atribuimos para 5px */
    transition: all 0.2s; /* Inserimos uma transição total para 0.2s */
    cursor: text; /* Aqui é para quando passar o mouse, aparecer o indicador de texto  */
}


.input{ /* Aqui chamamos nosso Submit ou seja, o botão para estilização */
    width: 100%; /* Largura */
    border: 0; /* Tamanho da borda */
    border-bottom: 2px solid #ccc; /* estilização da borda inferior */
    padding: 5px; /* Preenchimento do Input */
    font-size: 17px; /* Tamanho do texto */
    outline: 0; /*  */
}


form > .input-single > .input:focus ~ label, /*  */
form .input-single .input:valid ~ label{ /*  */
    transform: translateY(-25px); /*Efeito no texto*/
    font-size: 12px; /*Tamnho das letras*/
    color: black; /*Cor das letras*/
}


.btn { /* Aqui estamos chamando nossa Class .btn para estilização */
    width: 100%; /* Largura */
    text-align: center; /* Alinhando o texto ao centro */
}


form input[type=submit]{ /* Aqui estilizamos nosso Botão de enviar*/
    padding: 10px 40px; /* Preenchimento da altura e largura do botão */
    border: 0; /* Aqui zeramos a borda */
    border-radius: 10px; /* Colocamos aqui um arredondamento no Botão */
    background-color: #0D0D0D; /* Cor do Botão */
    color: rgb(255, 255, 255); /* Cor da letra (Dentro do Botão) */
    cursor: pointer; /* Torna o botão em algo clicavel  */
}
.form-container {
    opacity: 90%; /*Opacidade das letras container form.*/
}
/* Fim do nosso container (FORMULÁRIO) */








/* INÍCIO DA ESTILIZAÇÃO DO NOSSO RODAPÉ */
footer {
    padding: min(6vh, 3rem);
    /*  Tamanho */
    background-color: #F2F0EB; /* Cor de fundo */
    width: 100%;/* Preencher 100% do tamanho */
    display: flex; /*Deixando os itens lado a lado*/
    align-items: center; /*deixamos os itens no centro*/
    justify-content: center; /*  Justificando o conteúdo */
}



footer i{
    margin-top: 5px;
color: #0D0D0D;/* Cor do texto */
}

footer i span{
    margin-left: 5px;/* Espaçamento na esquerda */
    font-weight: 800;  /* Peso da fonte */
}


.container-footer{
display: flex; /* Tornando flex (deixando os itens na vertical) */
gap: 50px; /*  Espaçamento entre os itens */
}

.itens-footer1{
    display: flex;   /* Tornando Flex os itens */
    flex-direction: column;
    justify-content: center; /*  Justificando o conteúdo */
    align-items: center;/* Alinhando item a centro */
    font-size: 1.3rem;/* Tamanho do texto */
}



footer ul li{
    color: #0D0D0D; /*Cor das*/
    font-weight: 800; /* Peso da fonte */
    font-size: 1.2rem; /* Tamanho do texto*/
}

footer ul li span {
color: #643DF2;    
}

        footer ul li:hover {
            /* Hover para mudarmos algo ao passar o mouse por cima */
            color: #643DF2; 
            transition: 0.4s;  
        }


 footer img{
     margin-left: 7rem; /**/
     width: 10rem; /**/
     height: auto; /**/
    display: flex;  /* Tornando Flex os conteúdos*/
    align-items: center;  /* Alinhando item a centro */
     justify-content: center;  /*  Justificando o conteúdo */
 }

 #imageBar {
    width: 50px;
    display: none;
 }



/* FIM DA ESTILIZAÇÃO DO NOSSO RODAPÉ */

@media (max-width: 830px) {

    #imageBar {
        display: flex;
    }

/* A responsividade do header da página do contato */
    header{
        padding: 3rem; /*Prenchimento*/
        display: flex; /*Deixamos os items lado a lado*/
        align-items: center; /*Estamos centralizando os contúdos*/
        justify-content: space-between; /*Estamos justificando os contúedos*/
        text-align: center; 
        font-size: 1.5rem; /*Tamanho das letras*/
        gap: 30px; /*Espsçamento dos istens*/
        width: 100%; /*Largura*/
        box-sizing: border-box;
    }

    .section-1{
        padding: 3rem; /*Tamanho da sessão*/
        display: flex; /*tornando flex os conteúdos*/
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%; /*Largura*/
    }
    .div-button{
       display: flex; 
       flex-wrap: wrap;

    }


.section-2{
    padding: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
form{
    width: 20rem;
    height: auto;
}


    footer{
        padding: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
}


footer .páginas {
    display: none;
}


.container-footer{
display: flex;
align-items: center;
justify-content: center;
flex-wrap: wrap;
}


footer img{
    width: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
}

@media (max-width: 420px) {

    #imageBar {
        display: flex;
    }
 
    ul {
      display: none;

    }
    
    .mobile-menu-icon {
      display: block;
      cursor: pointer;
    }
  
    .mobile-menu ul {
      display: flex;
      flex-direction: column;
      text-align: center;
      padding-bottom: 1rem;
    }
  
    .mobile-menu a {
        color: white;
        background-color: var(--grayb);
        border-radius: 5px;
        transition: 1s ease;
      }
    
      .mobile-menu a:hover {
        background-color: var(--purples);
      }
  }
