@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Fonte */

/* Paleta de cores */
:root{
  --bluew: #91D7F2;
  --cream: #F2F0EB;
  --white: #F2F2F2;
  --gray: #2F3240;
  --grayb: #1d1d1d;
  --black: #0D0D0D;
  --purple: #987cff;
  --purples: #643DF2;
  --red: #F20519;
  --yellow: #F2CB05;
  --green: #55D976;
  --greenb: #027313;
}



/* Resetando a página */
*{
  margin: 0;
  padding: 0;
  font-family: Poppins;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body{
   background-color: #0D0D0D;/* Cor de fundo da página */
}

/* Definições na raiz do html */
html{
    width: 100%;/* Para ocupar 100% da largura */
    height: 100vh;/*  100vh para que a página tenha a mesma altura do navegador */
    overflow-x: hidden;
}


/* Whatsapp */
.whatsapp {
    position: relative;
    z-index: 9999999;
}

.whatsapp img {
    width: 115px;
    /* Altura e Largura */
    position: fixed;
    bottom: 20px;
    right: 25px;
    /* Posicionamento do logo do WhatsApp */
    transition: 00.50s ease;
    cursor: pointer;
}

.whatsapp img:hover {
    transform: scale(1.1);
}


/* Menu Mobile */

.mobile-menu-icon button{
    background-color: var(--grayb);
    border: none;
    padding: 9px;
    color: var(--white);
    border-radius: 8px;
  }
  
  .mobile-menu-icon i {
    font-size: 30px;
  }
  
  .mobile-menu-icon {
    display: none;
  }
  
  .mobile-menu {
    display: none;
  }
  
  /* Fim do Mobile Menu */


/* INÍCIO DA ESTILIZAÇÃO DO NOSSO CABEÇALHO */
header{
    padding: min(2vh, 4rem); /*  Tamanho do cabeçalho */
    background-color: #0D0D0D; /* Cor de fundo */
    display: flex; /* Tornando Flex */
    justify-content: space-between; /*  Justificando o conteúdo */
    align-items: center; /* Alinhando itens ao centro */
    text-align: center; /* Alinhando os textos ao centro */
    position: sticky; /* Fixando o cabeçalho ao rolar a página */
    top: 0; /* Zerando a parte de cima */
    left: 0; /* Zerando a esquerda (Que é por onde o elemento aparece) */
    z-index: 999; /*  Dando prioridade */
    width: 100%; /* Pra ocupar 100% do espaço */  
    overflow: hidden; /* */
    box-shadow: 0px 2px 2px rgb(255, 255, 255);
     font-size: 1.3rem;
}

/* Estilização da logo */
header img{
    width: 5rem; /* Tamanho */
    display: flex;  /* Tornando Flex */
    align-items: center; /* Alinhando item a centro */
    justify-content: center; /*  Justificando o conteúdo */
}

header a{
    margin-right: 2vh; /*  Espaçento na esquerda */
    color: #F2F2F2; /*  Cor do texto */
    font-weight: 800;    /* Peso da fonte */

}

/* Aqui estamos colocando o efeito no header da página */
header a:hover{
    border-bottom: 2.5px solid#643DF2;  /* Criando uma borda sólida com cor */
    transition: 0.1s; /* Tempo de transição */
}


header i {
    font-size: 1.5rem;  /* Tamanho das letras */
    color: #643DF2;  /* Cor do texto */
}
/* FIM DA ESTILIZAÇÃO DO NOSSO CABEÇALHO */






/*COMEÇO DA ESTILIZAÇÃO DO NOSSO CONTEÚDO*/
.imagem-cabecalho img {
    height: 30rem;  /*a Altura será 30 vezes o tamanho da fonte base (16px)*/
    width: 100%; /*a largura se ajusta automaticamente a 100% do contâiner pai*/
    object-fit: cover; /*mantendo a imagem sem distorção*/
    margin-bottom: 2rem; /*Espaçamento na parte inferior*/
}


/* Define uma estrutura flexível para alinhar e centralizar elementos horizontal e verticalmente, com espaçamento entre eles */
.flex-box {
    display: flex; /*Tornamos os itens flex*/
    align-items: center; /*Alinhamento*/
    justify-content: center; /*Justificamos os conteúdos*/
    gap: 50px;} /**Espaçamento entre eles/


/* Estilo para o título principal na seção 1 */
/* Ajusta o tamanho da fonte, alinha o texto ao centro, define a cor e adiciona um espaçamento inferior */
.sessão-1 h1 {
    font-size: 1.7rem; /*Tamanho das letras*/
    text-align: center;/*Alinhamento*/
    color: #F2F0EB;/*Cor das letras*/
    margin-bottom: 2rem; /*Espaçamento na parte inferior*/
}

/* Subtítulo da seção 1 */
.sessão-1 h2 {
    display: flex; /*Tornando flex*/
    justify-content: center; /*Estamos justificando os conteúdos pare o centros*/
    align-items: center; /*Alinhamento dos itens*/
    color: #bd00ff; /*Cor das letras*/
    font-weight: 600; /*Peso da fonte*/
    font-size: 4rem; /*Tamanho das letras*/
    margin-bottom: 1rem; /*Espaçamento na parte inferior*/
}
/* Centraliza o subtítulo, aplica cor, peso na fonte, tamanho grande e margem inferior */

/* Configurações gerais do container na seção 1 */
/* Define layout flexível para centralizar e espaçar os elementos, com cor e espaçamento inferior */
.container-section1 {
    display: flex; /*Tornando flex*/
    align-items: center; /*Alinhamento dos itens*/
    justify-content: center; /*Justicamos os conteúdos ao centro*/
    color: #F2F2F2; /*Cor dos container*/
    gap: 80px; /*Espaçamento entre eles*/
    margin-bottom: 30px; /*Espaçamento na parte inferior*/
}

/* Texto dentro do container da seção 1 */
/* Centraliza o texto em um layout flexível */
.container-section1 p {
    display: flex; /*Tornando flex */
    align-items: center; /*Alinhamento dos itens*/
    justify-content: center; /*Estamos justificando os conteúdos*/
}

/* Estilização de parágrafos destacados */
.p1 {
    font-size: 3rem; /*Tamanho dos textos*/
    color: #bd00ff; /*Cor das letras*/
    font-weight: 600; /*Peso da fonte*/
}
/* Aplica destaque no tamanho, cor e peso da fonte */

/* Estilo para parágrafos menores */
.p1-2 {
    font-size: 1.5rem;
}
/* Define fonte menor para conteúdos adicionais */
/* Estilo geral para a seção 2 */
/* Aplica espaçamento proporcional, cor de fundo e cor do texto */
.sessão-2 {
    padding: min(15vh, 10rem); /*Prechimento da sessão*/
    background-color: #987cff; /*Cor de fundo dessa sessão*/
    color: #2F3240; /*Cor dos textos*/
}



/* Centraliza o título, define cor, tamanho grande e adiciona margem inferior */
.sessão-2 h3 {
    display: flex; /* tornando flex*/
    align-items: center; /*Alinhamento dos itens para o centro*/
    justify-content: center; /*Estamos justificando os conteúdos para o centro*/
    font-size: 4rem; /*Tamanhp das letras*/
    color: #2F3240; /*Cor do texto*/
    margin-bottom: 3rem; /*Espaçamento na parte inferior*/
}

/* Container centralizado para elementos da seção 2 */
.container-section2 {
    display: flex; /*Tornando flex*/
    align-items: center; /*Alinhamento dos itens para o centro*/
    justify-content: center; /*Justificamos os conteúdos*/
}


/* Estilo de parágrafos na seção 2 */
.p2 {
    display: flex; /*Tornando flex os conteúdos*/
    align-items: center; /*Alinhamento dos conteúdos para o centro*/
    justify-content: center; /*estamos Justificando os conteúdos para o centro*/
    text-align: center; /*Alinhamento dos textos para o centro*/
    font-size: 3rem; /*Tamanho das letras*/
    color: #2b04bb;} /*Cor das letras*;/


/* Centraliza, aplica cor e tamanho grande aos textos destacados */

/* Estilo para parágrafos menores */
.p2-2 {
    font-size: 1.3rem; /*Tamamho das letras*/
    display: flex; /*Tornando felx*/
    justify-content: center; /*estamos Justificando os conteúdos para o centro*/
    align-items: center; /*Alinhamento dos conteúdos para o centro*/
}
/* Texto menor, alinhado e centralizado */

/* Estilo para a seção 3 */
.sessão-3 {
    padding: min(15vh, 10rem);
    background-color: #0D0D0D;
}
/* Aplica fundo escuro e espaçamento interno proporcional */

/* Título da seção 3 */
.sessão-3 h4 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    color: #4c1bff;
    margin-bottom: 3rem;
}
/* Centraliza, destaca com cor azul e tamanho grande, e adiciona espaçamento inferior */

/* Layout do container da seção 3 */
.container-section3 {
    display: flex; /*Tornando flex os conteúdos*/
    align-items: center;/*Alinhando os conteúdos para o centro*/
    justify-content: center;/* Aqui estamos Justificando os conteúdos para o centro*/
}
/* Estrutura flexível para centralizar elementos */

/* Parágrafos destacados na seção 3 */
.p3 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 3rem;
    color: #4c1bff;
}
/* Centraliza, aplica cor azul e destaca com tamanho maior */

/* Parágrafos menores */
.p3-3 {
    font-size: 1rem; /*Tamanho do texto*/
    display: flex; /*Tornando flex os conteúdos*/
    justify-content: center; /*Justificando os conteúdos para o centro*/
    align-items: center; /*Alinhando os conteúdos para o centro*/
    color: #F2F0EB; /*Cro das letras*/
}
/* Aplica fonte menor com cor clara e centraliza os textos */

/* Estilo para a seção 4 */
.sessão-4 {
    padding: min(25vh, 20rem); /*Tamanho da nossa sessão*/
    background-color: #0D0D0D; /*Cor de fundo da nossa sessão*/
    display: flex; /*Tornando flex*/
    flex-wrap: wrap;
    align-items: center; /*Alinhamento dos conteúdos*/
    justify-content: center; /*Justificando os conteúdos*/
}
/* Aplica fundo escuro, espaçamento interno grande, layout flexível e quebra de linha quando necessário */



/* Estilo para imagens na seção 4 */
.sessão-4 img {
    width: 33rem; /*Largura da nossa imagem*/
    margin-bottom: 10px; /*Espaçamento na parte inferior*/
}
/* Define largura fixa para as imagens e adiciona margem inferior */



/* Título da seção 4 */
.sessão-4 h5 {
    display: flex; /*Tornando flex*/
    align-items: center; /*Alinhando os texto para o centro*/
    justify-content: center; /*Justificando os conteúdos para o centro/
    color: #F2F2F2; /*Cor do texto*/
    font-size: 3rem; /*Tamanho das letras*/
    margin-bottom: 10px; /*Espaçamento na parte inferior*/
    color: #F2F0EB;
}

/* Centraliza o título com cor clara, tamanho grande e espaçamento inferior */
        .sessão-4 a button{
            padding: 8px; /*  Folga dentro do botão */
            text-align: center;/* Alinhando texto ao centro */
            width: 200px; /* Largura do botão */
            border-radius: 40px;  /* Arredondamento do botão */
            background-color: #643DF2;
            /* Cor de fundo do botão */
            color: #F2F0EB; /* Cor do texto */
            border: 2px solid #987cff; /* Criando uma borda sólida com cor */
            cursor: pointer;/* Mudando o cursor */
            font-weight: 600;  /* Peso da fonte */
        }

 .sessão-4 button:hover {
            /* Hover para mudarmos algo ao passar o mouse por cima */
            background-color: #987cff;/* Cor do texto */
            transition: 0.5s;  /*  Tempo de transição */
            color: #0D0D0D; /* Cor do texto */
        }
        

/* INÍCIO DA ESTILIZAÇÃO DO NOSSO RODAPÉ */
footer {
    padding: min(6vh, 3rem);   /* Tamanho da sessão */
    background-color: #F2F0EB; /* Cor de fundo */
    width: 100%;   /* Preencher 100% do tamanho */
    display: flex; /*Tornando flex os conteúdos*/
    align-items: center; /*Alinhar os itens paara o centro*/
    justify-content: center; /*Estamos justificando os conteúdos*/
}



footer i {
    margin-top: 5px; /*Espaçamento na parte inferior */
    color: #0D0D0D; /* Cor de texto */
}

footer i span {
    margin-left: 5px;  /* Espaçamento na esquerda */
    font-weight: 800;  /* Peso da fonte */
}


.container-footer {
    display: flex;  /* Tornando flex (deixando os itens na vertical) */
    gap: 50px; /*  Espaçamento entre os itens */
}

.itens-footer1 {
    display: flex;  /* Tornando Flex */
    flex-direction: column;
    justify-content: center;  /*  Justificando o conteúdo */
    align-items: center; /* Alinhando item a centro */
    font-size: 1.3rem; /* Tamanho do texto */
}



footer ul li {
    color: #0D0D0D; /*Cor das letras*/
    font-weight: 800;  /* Peso da fonte */
    font-size: 1.2rem;  /* Tamanho do texto */
}


/* Dando cor a um texto específico nesse span*/
footer ul li span {
    color: #643DF2; /*Cor das letras*/
}


footer ul li:hover {
    color: #643DF2; /*Cor das letras*/
    transition: 0.4s;/* Tempo de transição */

}


/* Aqui estamos estilizando a nossa imagem */
footer img {
    margin-left: 7rem; /*Espaçamento na parte esquerda*/
    width: 10rem; /*Largura da imagem*/
    height: auto; /*Altura automaticamente*/
    display: flex; /* Tornando Flex */
    align-items: center; /* Alinhando item a centro */
    justify-content: center; /*  Justificando o conteúdo */

}

.open {
    display: flex;
}

#imageBar {
    width: 50px;
    display: none;
}




/* FIM DA ESTILIZAÇÃO DO NOSSO RODAPÉ */



@media (max-width: 430px) {

    #imageBar {
        display: flex;
    }
 
    ul {
      display: none;

    }
    
    .mobile-menu-icon {
      display: block;
      cursor: pointer;
    }
  
    .mobile-menu ul {
      display: flex;
      flex-direction: column;
      text-align: center;
      padding-bottom: 1rem;
    }
  
    .mobile-menu a {
        color: white;
        background-color: var(--grayb);
        border-radius: 5px;
        transition: 1s ease;
      }
    
      .mobile-menu a:hover {
        background-color: var(--purples);
      }
  }




@media screen and (max-width: 734px){
    .menu-desktop{
        display: none;
    }
    /*estilizando o menu */

    .imagem-cabecalho img{
        padding: 1rem;
        border-radius: 2rem;
    }
    /*estilizando a imagem abaixo do header*/
    
    .sessão-1 h2{
        margin-top: 5rem;
        font-size: 3rem;
    }

    .p1-section1 .p1{
        font-size: 3rem;
        margin-left: 4rem;
    }

    .p1-section1 p{
        font-size: 1,7rem;
        margin-left: 4rem;
    }

    
    .p2-section1 .p1{
        font-size: 3rem;
        margin-right: 4rem;
    }

    .sessão-2{
        padding: 13rem;
    }

    .container-section1 {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container-section2 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
    }

    .container-section2 .p2{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 4rem;
        width: 100%;
    }

    .container-section2 .p2-2{
        font-size: 2rem;
    }

    .sessão-3{
        padding: 9rem;
    }

    .container-section3 {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .container-section3 .p3{
        font-size: 2.9rem;
    }

    .container-section3 .p3-3{
        font-size: 1.5rem;
    }

    .sessão-4 img {
        padding: 3rem;
        margin-bottom: -70px;
    }

    .sessão-4 a button{
        font-size: 2rem;
        width: 30rem;
        height: 4rem;
        
    }

        footer{
            padding: 1rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
    }
    
    
    footer .páginas {
        display: none;
    }
    
    
    .container-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    }
    
    
    footer img{
        width: 10rem;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 7rem;
    }

    #imageBar {
        display: flex;
    }
}