@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Fonte */

/* Paleta de cores */
:root{
  --bluew: #91D7F2;
  --cream: #F2F0EB;
  --white: #F2F2F2;
  --gray: #2F3240;
  --grayb: #1d1d1d;
  --black: #0D0D0D;
  --purple: #987cff;
  --purples: #643DF2;
  --red: #F20519;
  --yellow: #F2CB05;
  --green: #55D976;
  --greenb: #027313;
}

/* Resetando a página */
*{
  margin: 0;
  padding: 0;
  font-family: Poppins;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

/* Cor de fundo da página */
body{
   background-color: #0D0D0D; 
}


/* Definições na raiz do html */
html{
    width: 100%; /* Para ocupar 100% da largura */
    height: 100vh; /*  100vh para que a página tenha a mesma altura do navegador */
overflow-x: hidden;
}

html {
    /* Definições na raiz do html */
    width: 100%;
    /* Para ocupar 100% da largura */
    height: 100vh;
    /*  100vh para que a página tenha a mesma altura do navegador */
    overflow-x: hidden;
}

/* Whatsapp */
.whatsapp {
    position: relative;
    z-index: 9999999;
}

.whatsapp img {
    width: 115px;
    /* Altura e Largura */
    position: fixed;
    bottom: 20px;
    right: 25px;
    /* Posicionamento do logo do WhatsApp */
    transition: 00.50s ease;
    cursor: pointer;
}

.whatsapp img:hover {
    transform: scale(1.1);
}


/* Menu Mobile */

.mobile-menu-icon button{
    background-color: var(--grayb);
    border: none;
    padding: 9px;
    color: var(--white);
    border-radius: 8px;
  }
  
  .mobile-menu-icon i {
    font-size: 30px;
  }
  
  .mobile-menu-icon {
    display: none;
  }
  
  .mobile-menu {
    display: none;
  }
  
  /* Fim do Mobile Menu */


/* INÍCIO DA ESTILIZAÇÃO DO NOSSO CABEÇALHO */
header{
    padding: min(2vh, 4rem); /*  Tamanho do cabeçalho */
    background-color: #0D0D0D; /* Cor de fundo */
    display: flex; /* Tornando Flex */
    justify-content: space-between; /*  Justificando o conteúdo */
    align-items: center; /* Alinhando itens ao centro */
    text-align: center; /* Alinhando os textos ao centro */
    position: sticky; /* Fixando o cabeçalho ao rolar a página */
    top: 0; /* Zerando a parte de cima */
    left: 0; /* Zerando a esquerda (Que é por onde o elemento aparece) */
    z-index: 999; /*  Dando prioridade */
    width: 100%; /* Pra ocupar 100% do espaço */  
    overflow: hidden; /* */
    box-shadow: 0px 2px 2px rgb(255, 255, 255);
     font-size: 1.3rem;
}

/* Estilização da logo */
header img{
    width: 5rem; /* Tamanho */
    display: flex;  /* Tornando Flex */
    align-items: center; /* Alinhando item a centro */
    justify-content: center; /*  Justificando o conteúdo */
}

header a{
    margin-right: 2vh; /*  Espaçento na esquerda */
    color: #F2F2F2; /*  Cor do texto */
    font-weight: 800;    /* Peso da fonte */

}

/* Aqui estamos colocando o efeito no header da página */
header a:hover{
    border-bottom: 2.5px solid#643DF2;  /* Criando uma borda sólida com cor */
    transition: 0.1s; /* Tempo de transição */
}


header i {
    font-size: 1.5rem;  /* Tamanho das letras */
    color: #643DF2;  /* Cor do texto */
}
/* FIM DA ESTILIZAÇÃO DO NOSSO CABEÇALHO */



/*  ESTILIZAÇÃO DA PRIMEIRA SESSÃO*/
.section-1 {
    padding: min(5vh, 5rem);  /* Tamanho da nossa sessão*/
    background-color: #0D0D0D;    /* Cor de fundo */
    width: 100%;  /* Preencher 100% do tamanho */
}

.container-carrossel {
    overflow: hidden;   /*Esconde partes das imagens que saem do container*/
    width: 100%; /*O container ocupa toda a largura da página*/
    max-width: 80vw;   /* O container ocupa no máximo 80% da largura da viewport */
    margin: auto; /*Centraliza o container*/
    border: 3px solid #643DF2;/* Criando uma borda sólida com cor */
    border-radius: 20px; /*  Arredondamento do carrossel  */
}

/*Estilo da faixa de imagens*/
.itens-carrossel {
    display: flex;  /*Coloca as imagens lado a lado em linha*/
    transition: transform 0.5s ease;  /*Animação suave para a transição*/
}

/*Cada item do carrossel*/
.carrossel-item {
    flex: 0 0 100%;  /* Cada item ocupa 100% da largura do container*/
}

/* Estilização das imagens */
img {
    width: 100%;  /*As imagens ocupam toda a largura do item*/
    display: block;   /*Garante que não haja espaçamento abaixo das imagens*/
}

#imagem3 {
    scroll-behavior: smooth;

}
/*  FIM DA PRIMEIRA SESSÃO */




/* ESTILIZAÇÃO DA SEGUNDA SESSÃO */
.section2 {
    background-color: #0D0D0D;   /* Cor de fundo */
    padding: min(35vh, 30rem);    /* Tamanho da sessão*/
    width: 100%;  /* Preencher 100% do tamanho*/
    color: white;   /* Cor do texto */
}

/* Caixa pai da sessão */
.container-section2 {
    display: flex;  /* Tornando Flex */
    align-items: center;  /* Alinhando item a centro */
    gap: 100px; /* Espaçamento entre os itens */
}



.h1-button h1 {
    font-size: 6rem;  /* Tamanho do texto */
    margin-bottom: 30px;  /*  Espaçamento na parte de baixo */
    text-align: center;
    display: flex; /*Tornando flex os conteúdos*/
}

.h1-button p {
    font-size: 3rem;  /* Tamanho do texto */
    margin-bottom: 30px; /*  Espaçamento na parte de baixo */
}

.h1-button p span {
    color: #987cff; /* Cor do texto */
    font-weight: 600;  /* Peso da fonte */
}


.h1-button a button {
    padding: 8px; /*  Folga dentro do botão */
    text-align: center; /* Alinhando texto ao centro */
    width: 200px;/* Largura do botão */
    border-radius: 40px;  /* Arredondamento do botão */
    background-color: #643DF2; /* Cor de fundo do botão */
    color: #F2F0EB; /* Cor do texto */
    border: 2px solid #987cff; /* Criando uma borda sólida com cor */
    cursor: pointer; /* Mudando o cursor */
    font-weight: 600; /* Peso da fonte */
}


    /* Hover para mudarmos algo ao passar o mouse por cima */
.h1-button a button:hover {
    background-color: #987cff;  /* Cor do texto */
    transition: 0.5s; /*  Tempo de transição */
    color: #0D0D0D;  /* Cor do texto */
}

/* Estilização da imagem */
.img-section2 {
    width: 250rem;
    /*largura*/
    height: auto;
    /* Tamanho da imagem */
}



/* ESTILIZAÇÃO DA TERCEIRA SESSÃO */
.section3 {
    background-color: #0D0D0D;
    /* Cor de fundo */
    padding: min(10vh, 20rem);
    /* Tamanho */
    width: 100%;
    /* Preencher 100% do tamanho*/
    color: white;
    /* Cor do texto */
}

/* Caixa pai da sessão */
.container-section3 {
    display: flex;
    /* Tornando Flex */
    align-items: center;
    /* Alinhando item a centro */
    gap: 100px;
    /* Espaçamento entre os itens */
}



.h1-button h1 {
    font-size: 1.5rem;
    /* Tamanho do texto */
    margin-bottom: 30px;
    /*  Espaçamento na parte de baixo */
    text-align: center;
}

.h1-button p {
    font-size: 1rem;
    /* Tamanho do texto */
    margin-bottom: 30px;
    /*  Espaçamento na parte de baixo */
}




.h1-button a button {
    padding: 8px;
    /*  Folga dentro do botão */
    text-align: center;
    /* Alinhando texto ao centro */
    width: 200px;
    /* Largura do botão */
    border-radius: 40px;
    /* Arredondamento do botão */
    background-color: #643DF2;
    /* Cor de fundo do botão */
    color: #F2F0EB;
    /* Cor do texto */
    border: 2px solid #987cff;
    /* Criando uma borda sólida com cor */
    cursor: pointer;
    /* Mudando o cursor */
    font-weight: 600;
    /* Peso da fonte */
}

.h1-button a button:hover {
    /* Hover para mudarmos algo ao passar o mouse por cima */
    background-color: #987cff;
    /* Cor do texto */
    transition: 0.5s;
    /*  Tempo de transição */
    color: #0D0D0D;
    /* Cor do texto */
}



/* Estilização da imagem */
.img-section3 {
    width: 80rem;
    height: auto;
    /* Tamanho da imagem */
}

.section3 span {
    color: #643DF2;
    /*cor texto*/
    margin-left: 5px;
    /*espasamento esquerda*/
}

/* Personalização do texto */


/* INÍCIO DA ESTILIZAÇÃO DO NOSSO RODAPÉ */
footer {
    padding: min(6vh, 3rem);
    /*  Tamanho */
    background-color: #F2F0EB;
    /* Cor de fundo */
    width: 100%;
    /* Preencher 100% do tamanho */
    display: flex;
    /*deixa flex*/
    align-items: center;
    /*alinha no centro*/
    justify-content: center;
    /*justifica no centro*/
}


footer i {
    margin-top: 5px;
    /*espaçamento topo*/
    color: #0D0D0D;
    /* Cor do texto */
}

footer i span {
    margin-left: 5px;
    /* Espaçamento na esquerda */
    font-weight: 800;
    /* Peso da fonte */
}


.container-footer {
    display: flex;
    /* Tornando flex (deixando os itens na vertical) */
    gap: 50px;
    /*  Espaçamento entre os itens */
}

.itens-footer1 {
    display: flex;
    /* Tornando Flex */
    flex-direction: column;
    /*deixa em colunas*/
    justify-content: center;
    /*  Justificando o conteúdo */
    align-items: center;
    /* Alinhando item a centro */
    font-size: 1.3rem;
    /* Tamanho do texto */
}



footer ul li {
    color: #0D0D0D;
    /*cor da letra*/
    font-weight: 800;
    /* Peso da fonte */
    font-size: 1.2rem;
    /* Tamanho do texto */
}

footer ul li span {
    color: #643DF2;
    /*cor letra*/
}

footer ul li:hover {
    /* Hover para mudarmos algo ao passar o mouse por cima */
    color: #643DF2;
    /*cor letra*/
    transition: 0.4s;
    /*tempo transição*/
}


footer img {
    width: 10rem;
    /*largura*/
    display: flex;
    /* Tornando Flex */
    align-items: center;
    /* Alinhando item a centro */
    justify-content: center;
    /*  Justificando o conteúdo */
    text-align: center;

}


.open {
    display: flex;
}

#imageBar {
    width: 50px;
    display: none;
  }



/* FIM DA ESTILIZAÇÃO DO NOSSO RODAPÉ */


@media (max-width: 430px) {
 
    ul {
      display: none;

    }
    
    .mobile-menu-icon {
      display: block;
      cursor: pointer;
    }
  
    .mobile-menu ul {
      display: flex;
      flex-direction: column;
      text-align: center;
      padding-bottom: 1rem;
    }
  
    .mobile-menu a {
        color: white;
        background-color: var(--grayb);
        border-radius: 5px;
        transition: 1s ease;
      }
    
      .mobile-menu a:hover {
        background-color: var(--purples);
      }
  }





  


@media (max-width: 834px) and (max-width: 1200px){
    #imageBar {
        display: flex;
      }

    header {
        padding: 3rem;
        /*tamanho da pagina*/
        display: flex;
        /* Tornando Flex */
        align-items: center;
        /*deicha os itens centralizado*/
        justify-content: space-around;
        /*justifica tudo no centro*/
        text-align: center;
        /*alinha o texto no centro*/
        font-size: 1.5rem;
        /*aumenta a fonte do texto*/
        gap: 30px;
        /*espaçamento geral*/
        width: 100%;
        /*largura 100%*/
        box-sizing: border-box;
        /**/
    }


    .section1 {
        padding: 8rem;
        /*tamanho da pagina*/
        display: flex;
        /*torna flex*/
        align-items: center;
        /*deicha os itens centralizado*/
        justify-content: center;
        /*alinha o texto no centro*/
        flex-wrap: wrap;
        width: 100%;
        /*largura 100%*/
    }

    .container-carrossel {
        width: 100%;
        /*O container ocupa toda a largura da página*/
        max-width: 100vw;
        /* O container ocupa no máximo 80% da largura da viewport */
        margin: auto;
        /*Centraliza o container*/
    }


    .section2 {
        padding: 4rem;
        /*tamanho pagina*/
        text-align: center;
        /*alinha o texto no centro*/
    }


    .container-section2 {
        display: flex;
        /*torna o item flex*/
        justify-content: center;
        /*alinha o texto no centro*/
        align-items: center;
        /*deixa centralizado*/
        flex-wrap: wrap;
    }


    .section2 img {
        display: flex;
        /*deixa flex*/
        justify-content: center;
        /*alinha o texto no centro*/
        align-items: center;
        /*deixa centralizado*/
        width: 20rem;
    }


    .section3 {
        padding: 4rem;
        /*tamanho da pagina*/
        text-align: center;
        /*deixa centralizado*/
    }


    .container-section3 {
        display: flex;
        /*deixa o item flex*/
        justify-content: center;
        /*deixa o  texto centralizado*/
        align-items: center;
        /*deixa os itens no centro*/
        flex-wrap: wrap;
    }


    .section3 img {
        display: flex;
        /*deixa flex*/
        justify-content: center;
        /*deixa o  texto centralizado*/
        align-items: center;
        /*deixa os itens no centro*/
        width: 20rem;
        /*lagura */
    }

    .container-section3 .h1-button {
        display: flex;
        /*deixa os itens flex*/
        justify-content: center;
        /*deixa o  texto centralizado*/
        align-content: center;
        /*deixa os itens no centro*/
        flex-wrap: wrap;

    }


    .h1-button h1 {
        font-size: 2.5rem;
        /*tamanho do texto*/
    }

    .h1-button p {
        font-size: 1.1rem;
        /*tamanho do texto*/
    }

    footer .páginas {
        display: none;
        /*deixa sem nada*/
    }


    footer {
        padding: 1rem;
        /*tamanho pagina*/
        display: flex;
        /*deixa flex*/
        flex-direction: column;
        /*deixa em colunas*/
        align-items: center;
        /*alinha no centro*/
        justify-content: center;
        /*deixa o  texto centralizado*/

    }

    .container-footer {
        display: flex;
        /*deixa flex*/
        align-items: center;
        /*deixa os itens no centro*/
        justify-content: center;
        /*deixa o  texto centralizado*/
        flex-wrap: wrap;
    }

    .container-footer img {
        width:10rem;
        /*largura*/
        display: flex;
        /*deixa flex*/
        align-items: center;
        /*alinha no centro*/
        justify-content: center;
        /*deixa o  texto centralizado*/
        margin-left: 6rem;
    }

}
