@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Fonte */

:root{
  --bluew: #91D7F2;
  --cream: #F2F0EB;
  --white: #F2F2F2;
  --gray: #2F3240;
  --grayb: #1d1d1d;
  --black: #0D0D0D;
  --purple: #987cff;
  --purples: #643DF2;
  --red: #F20519;
  --yellow: #F2CB05;
  --green: #55D976;
  --greenb: #027313;
}
/* Paleta de cores */

*{
  margin: 0;
  padding: 0;
  font-family: Poppins;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
/* Resetando a página */
body{
   background-color: #0D0D0D;
/* Cor de fundo da página */
}

html{
/* Definições na raiz do html */
    width: 100%;
/* Para ocupar 100% da largura */
    height: 100vh;
/*  100vh para que a página tenha a mesma altura do navegador */
overflow-x: hidden;
}


/* INÍCIO DA ESTILIZAÇÃO DO NOSSO CABEÇALHO */
header{
    padding: min(2vh, 4rem);
/*  Tamanho do cabeçalho */
    background-color: #0D0D0D;
/* Cor de fundo */
    display: flex;
/* Tornando Flex */
    justify-content: space-between;
/*  Justificando o conteúdo */
    align-items: center;
/* Alinhando itens ao centro */
    text-align: center;
/* Alinhando os textos ao centro */
    position: sticky;
/* Fixando o cabeçalho ao rolar a página */
top: 0;
/* Zerando a parte de cima */
left: 0;
/* Zerando a esquerda (Que é por onde o elemento aparece) */
z-index: 999;
/*  Dando prioridade */
width: 100%;
/* Pra ocupar 100% do espaço */
overflow-x: hidden; /* */
box-shadow: 0px 2px 2px rgb(255, 255, 255);
font-size: 1.3rem;
}

header img{
/* Estilização da logo */
    width: 5rem;
/* Tamanho */
    display: flex;
    /* Tornando Flex */
    align-items: center;
/* Alinhando item a centro */
    justify-content: center;
    /*  Justificando o conteúdo */
}
header a {
    margin-right: 2vh; 
    /* Define um espaçamento à direita dos links do cabeçalho */
    color: #F2F2F2; 
    /* Define a cor do texto para um tom claro */
    font-weight: 800; 
    /* Aplica um peso de fonte mais forte para destacar os links */
}

header a:hover {
    border-bottom: 2.5px solid #643DF2; 
    /* Adiciona uma borda inferior roxa quando o usuário passa o mouse */
    transition: 0.1s; 
    /* Faz uma transição suave de 0.1 segundos para a borda */
}

header i {
    font-size: 1.5rem; 
    /* Ajusta o tamanho do ícone */
    color: #643DF2; 
    /* Aplica a cor roxa ao ícone */
}

/* FIM DA ESTILIZAÇÃO DO NOSSO CABEÇALHO */

/* Estilo da seção 1 */
.sessão-1 {
    padding: min(15vh, 10rem); 
    /* Aplica um padding dinâmico baseado na altura da tela */
    background-color: #0D0D0D; 
    /* Cor de fundo escura para a seção */
    width: 100%; 
    /* Faz com que a seção ocupe toda a largura disponível */
}

/* Estilo do container na seção 1 */
.container-section1 {
    display: flex; 
    /* Usando flexbox para layout */
    align-items: center; 
    /* Alinha os itens verticalmente ao centro */
    justify-content: center; 
    /* Alinha os itens horizontalmente ao centro */
    gap: 30px; 
    /* Espaçamento entre os itens dentro do container */
}

.container-section1 h1 {
    font-size: 2.5rem; 
    /* Define o tamanho do título na seção 1 */
    color: #F2F0EB; 
    /* Cor do título em tom claro */
    margin-bottom: 10px; 
    /* Adiciona um espaçamento inferior */
}

.container-section1 img {
    width: 32rem; 
    /* Define a largura das imagens na seção 1 */
}

.itens-section1 p {
    color: #F2F0EB; 
    /* Cor do texto em tom claro */
    font-size: 1rem; 
    /* Tamanho da fonte dos parágrafos */
}

.itens-section1 p span {
    color: #643DF2; 
    /* Aplica a cor roxa no texto dentro do <span> */
}

/* Estilo da seção 2 */
.sessão-2 {
    padding: min(10vh, 10rem); 
    /* Aplica padding dinâmico baseado na altura da tela */
    background-color: #0D0D0D; 
    /* Cor de fundo escura para a seção */
    width: 100%; 
    /* Faz com que a seção ocupe toda a largura disponível */
}

/* Estilo do container na seção 2 */
.container-section2 {
    display: flex; 
    /* Usando flexbox para layout */
    align-items: center; 
    /* Alinha os itens verticalmente ao centro */
    justify-content: center; 
    /* Alinha os itens horizontalmente ao centro */
    gap: 30px; 
    /* Espaçamento entre os itens dentro do container */
}

.container-section2 img {
    width: 32rem; 
    /* Define a largura das imagens na seção 2 */
}

.container-section2 span {
    color: #643DF2; 
    /* Aplica a cor roxa ao texto dentro do <span> */
}

.itens-section2 {
    display: flex; 
    /* Usando flexbox para layout */
    flex-wrap: wrap; 
    /* Permite que os itens quebrem para a linha seguinte se necessário */
}

/* Título da seção 2 */
.sessão-2 h2 {
    font-size: 2.5rem; 
    /* Define o tamanho do título da seção 2 */
    color: #F2F0EB; 
    /* Cor clara para o título */
}

/* Parágrafos dentro da seção 2 */
.sessão-2 p {
    font-size: 1rem; 
    /* Tamanho de fonte padrão para os parágrafos */
    color: #F2F0EB; 
    /* Cor clara para o texto */}

    


/* INÍCIO DA ESTILIZAÇÃO DO NOSSO RODAPÉ */
footer {
    padding: min(6vh, 3rem);
    /*  Tamanho */
    background-color: #F2F0EB;
    /* Cor de fundo */
    width: 100%;
    /* Preencher 100% do tamanho */
    display: flex;
    align-items: center;
    justify-content: center;
}


footer i {
    margin-top: 5px;
    color: #0D0D0D;
    /* Cor do texto */
}

footer i span {
    margin-left: 5px;
    /* Espaçamento na esquerda */
    font-weight: 800;
    /* Peso da fonte */
}


.container-footer {
    display: flex;
    /* Tornando flex (deixando os itens na vertical) */
    gap: 50px;
    /*  Espaçamento entre os itens */
}

.itens-footer1 {
    display: flex;
    /* Tornando Flex */
    flex-direction: column;
    justify-content: center;
    /*  Justificando o conteúdo */
    align-items: center;
    /* Alinhando item a centro */
    font-size: 1.3rem;
    /* Tamanho do texto */
}



footer ul li {
    color: #0D0D0D;
    font-weight: 800;
    /* Peso da fonte */
    font-size: 1.2rem;
    /* Tamanho do texto */
}

footer ul li span {
    color: #643DF2;
}

footer ul li:hover {
    /* Hover para mudarmos algo ao passar o mouse por cima */
    color: #643DF2;
    transition: 0.4s;
}


footer img {
    width: 10rem;
    display: flex;
    /* Tornando Flex */
    align-items: center;
    /* Alinhando item a centro */
    justify-content: center;
    /*  Justificando o conteúdo */
    text-align: center;

}



/* FIM DA ESTILIZAÇÃO DO NOSSO RODAPÉ */



@media (max-width: 834px){

.sessão-1{
    padding: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


.sessão-1 p{
font-size: 1.5rem;
}


.container-section1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
} 

.container-section1 img{
    width: 20rem;
}




.sessão-2{
    padding: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-section2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}



.sessão-2 p{
    font-size: 1.5rem;
    }
    

.container-section2 img{
    width: 20rem;
}

}