@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Fonte */

:root{
  --bluew: #91D7F2;
  --cream: #F2F0EB;
  --white: #F2F2F2;
  --gray: #2F3240;
  --grayb: #1d1d1d;
  --black: #0D0D0D;
  --purple: #987cff;
  --purples: #643DF2;
  --red: #F20519;
  --yellow: #F2CB05;
  --green: #55D976;
  --greenb: #027313;
}
/* Paleta de cores */

*{
  margin: 0;
  padding: 0;
  font-family: Poppins;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
/* Resetando a página */

html{
  width: 100%;
  height: 100vh;
  font-size: 17.5px;  
}
/* Usando 100% de cada área do site */

body{
  background-color: var(--black);
  color: var(--white);
}
/* Configurando cores padrões */

.div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  position: sticky;
  /* Posicionamento */
  background-color: var(--black);
  color: var(--white);
  /* Cores */
  padding: min(2vh, 4rem);
  /* Espaçamento */
  z-index: 999;
  font-size: 1.3rem;
  width: 100%;
}

.image-header img{
  width: 80px;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  /* Posicionamento */
}

header i{
  font-size: 1.5rem;
  color: #643DF2;
   }
   

.login{
  width: 2rem;
  height: 2rem;
  background-color: black;
  border-radius: 50%;
  border: solid 2px #F2F0EB;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
 }
 
 .login:hover{
     background-color:#F2F0EB ;
     color: black;
     transition: 0.8s;
     cursor: pointer;
 }
 
 

.links a{
  color: var(--cream);
  /* Cores */
  text-decoration: none;
  font-size: 1em;
  font-weight: 800;
  /* Texto */
  transition: 1s ease;
}

.links a:hover {
  text-decoration: underline 2px solid var(--purple);
  /* Texto */
}

.box-textanimation{
  display: flex;
  justify-content: center;
  align-items: center;
  /* Posicionamento */
  padding: 0.5em;
  /* Espaçamento */
  margin-top: 1em;
}

h1{
  text-align: center;
  /* Alinhando texto ao centro */
}


/* Aqui é a estilização do nosso header */
header{
  display: flex; /* Deixamos os itens lado a lado*/
  justify-content: center; /*Justificamos os conteúdos*/
  align-items: center;
  gap: 5rem; 
  /* Posicionamento das caixas */
  background-image: url(imagens/GirlwallpaperHeader.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* Plano de fundo header */
  padding: 250px;
  /* Espaçamento */
  border-radius: 12px;
  /* Bordas */
  margin: 15px;
  /* Margens */
  width: 100%;
}

.whatsapp{
  position: relative;
}

.whatsapp img{
  width: 100px;
  /* Altura e Largura */
  position: fixed;
  bottom: 20px;
  right: 25px;
  /* Posicionamento do logo do WhatsApp */
}

.button button{
  width: 180px;
  height: 65px;
  /* Tamanho padrão dos botões */
  font-weight: 600;
  /* Força da fonte */
  border: none;
  border-radius: 14px;
  /* Bordas */
  cursor: pointer;
  /* Cursor */
  position: relative;
  top: 225px;
  /* Posicionamento */
  transition: 0.60s ease;
}

.button button:hover{
  transform: scale(1.1);
  /* Aumentando escala do botão */
}

.button-purple button{
  background-color: var(--purples);
  color: var(--white);
  /* Cores */
}

.button-green button{
  background-color: var(--greenb);
  color: var(--white);
  /* Cores */
}

.section01{
  padding: 80px;
  /* Espaçamento */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* Posicionamento */
}

.text{
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  /* Posicionamento */
  width: 888px;
  height: auto;
  /* Altura e Largura */
}

.text h2{
  color: var(--purples);
  /* Cores */
}

span{
  color: var(--green);
  /* Cores */
  font-weight: 500;
}

.content{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  /* Posicionamento */
  margin-top: 2em;
}

.content img{
  width: 270px;
  /* Largura e altura */
  border-radius: 15px;
  /* Bordas */
}

.section02{
  display: flex;
  justify-content: center;
  align-items: center;
  /* Posicionamento */
  padding: 120px;
  /* Espaçamento */
}

.text-flex{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.box-text{
  width: 300px;
  height: 280px;
  /* Largura e Altura */
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  gap: 4px;
  /* Posicionamento */
  border: 3px solid var(--purples);
  border-radius: 8px;
  /* Bordas */
  padding: 10px;
  /* Espaçamento */
  box-shadow: 0 0 15px #643df24c;
  /* Sombra neon */
}

.box-text p{
  font-style: italic;
  font-weight: 300;
  /* Texto */
}

#color-text{
  color: var(--green);
  /* Cores */
  font-weight: 500;
  /* Texto */
}

.section03{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  flex-direction: column;
  gap: 50px;
  /* Posicionamento */
}

.flex-s3{
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* Posicionamento */
}

.texts3{
  width: 750px;
}

.image-s3 img{
  width: 450px;
}

/* INÍCIO DA ESTILIZAÇÃO DO NOSSO RODAPÉ */
footer{
  padding: min(6vh, 3rem);
/*  Tamanho */
  background-color: #F2F0EB;
/* Cor de fundo */
width: 100%;
/* Preencher 100% do tamanho */
display: flex;
}


footer i{
  margin-top: 5px;
color: #0D0D0D;
/* Cor do texto */
}

footer i span{
  margin-left: 5px;
/* Espaçamento na esquerda */
  font-weight: 800;
  /* Peso da fonte */
}


.container-footer{
display: flex;
/* Tornando flex (deixando os itens na vertical) */
gap: 50px;
/*  Espaçamento entre os itens */
}

.itens-footer1{
  display: flex;
  /* Tornando Flex */
  flex-direction: column;
justify-content: center;
  /*  Justificando o conteúdo */
align-items: center;
  /* Alinhando item a centro */
font-size: 1.3rem;
/* Tamanho do texto */
}



footer ul li{
  color: #0D0D0D;
  font-weight: 800;
  /* Peso da fonte */
  font-size: 1.2rem;
  /* Tamanho do texto */
}

footer ul li span{
color: #643DF2;     
}

      footer ul li:hover{
          /* Hover para mudarmos algo ao passar o mouse por cima */
          color: #643DF2; 
          transition: 0.4s;  
      }


      footer img{
  margin-left: 7rem;
          width: 16rem;
          height: auto;
          display: flex;
          /* Tornando Flex */
          align-items: center;
          /* Alinhando item a centro */
          justify-content: center;
     /*  Justificando o conteúdo */

              }



/* FIM DA ESTILIZAÇÃO DO NOSSO RODAPÉ */




/* FIM DA ESTILIZAÇÃO DO NOSSO RODAPÉ */
